{{define "header"}}
<header>
    <nav>
        <a href="/"><h1>MeSign</h1></a>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/sign">Sign</a>
            </li>
        </ul>
    </nav>
    <h1>{{.}}</h1>
</header>
{{end}} 