{{define "make"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" "Make"}}
<body>
    {{template "header" "Make"}}
    <main>
        <form method="POST">
            <input type="text" placeholder="Your email address" required name="address" />
            <button>Send the Verification</button>
        </form>
    </main>
    {{template "footer"}}
</body>
</html>
{{end}}